/* ESTILO GERAL CALCULADORA */

section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}



#calculadora {
    display: flex;
    flex-flow: column nowrap;
    background-color: black;
    min-height: 600px;
    min-width: 500px;
    user-select: none;
    border-radius: 15px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.329);
}

#calculo {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 7px;
    background-color: rgb(47, 72, 43);
    border: solid 10px black;
    border-radius: 10px 10px 0px 0px;
    height: 90px;
    width: 100%;
    
}

#calculo h1 {
    font-size: 2em;
}

#elementos {
    padding: 7px;
    display: flex;
    flex-flow: row nowrap;
    flex: auto;
    gap: 10px;
}

#numeros {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    gap: 5px;
}

#linha_n1 {
    display: flex;
    flex-flow: row nowrap;
    height: 25%;
    gap: 7px;
}

#linha_n2 {
    display: flex;
    flex-flow: row nowrap;
    height: 25%;
    gap: 7px;
}

#linha_n3 {
    display: flex;
    flex-flow: row nowrap;
    height: 25%;
    gap: 7px;
}

#linha_n4 {
    display: flex;
    flex-flow: row nowrap;
    height: 25%;
    gap: 7px;
}

.num {
    position: relative;
    background-color: rgb(49, 48, 48);
    border-radius: 50%;
    flex: auto;
}

.algari {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#operacoes {
    display: flex;
    flex-flow: column nowrap;
    width: 30%;
    gap: 7px;
    background-color: rgb(24, 24, 24);
    border-radius: 20px;
}

.oper {
    position: relative;
    background-color: rgb(49, 48, 48);
    border-radius: 20px;
    flex: auto;
}

.num:active, .oper:active  {
    transform: scale(0.9);
    transition: .1s;
}

.elem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#calculadora p {
    color: white;
    font-weight: bolder;
    font-size: 2em;
}

