@charset "UTF-8";
body {
    background-color: rgb(194, 194, 194);
    font: normal 13px arial, sans-serif;
}
article {
    background-color: black;
    color: rgb(9, 222, 2);
    padding: 10px;
    border-style: double;
    border-color: blue;
    margin: 20px;
}
article > h2 {
    text-align: center;
}
article > p {
    text-align: justify;
}
article > aside {
    text-align: right;
    font: italic normal 1em arial;
    text-decoration: underline;
}